
.main-card-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(500px, 800px));
    grid-gap: 5px;
    justify-content: space-around;
}
@media (max-width: 998px) {
    .main-card-container {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 10px;
      margin-top: 3vw;
      justify-content: space-around;
    }
  }
  @media (max-width: 460px) {
    .main-card-container {
      display: grid;
      grid-template-columns: repeat(1, minmax(300px, 310px));
      grid-gap: 10px;
      justify-content: space-around;
      margin: 3vw;
    }
    .card{
      max-width: 400px;
    }
    img{
     
      width: 380px;
      margin-left: 5vh;
      margin-right: 2vw;
      
    }
  }
  @media (max-width: 440px) {
    .main-card-container {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 205px));
      grid-gap: 10px;
      justify-content: space-around;
      margin: 3vw;
    }
    .card{
      width: 100%;
      max-width: 200px;
    }
    img{
      width:370px;
      margin-left: 0vw;
      margin-right: 3vw;
      
    }
  }
  @media (max-width: 400px) {
    .main-card-container {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 202px));
      grid-gap: 10px;
      justify-content: space-around;
      margin: 3vw;
    }
    .card{
      width: 100%;
      max-width: 200px;
    }
    img{
      width:320px;
      margin-left: 0;
      margin-right: 2vw;
      
    }
  }
  
  @media (max-width: 337) {
   
      .card-description {
        font-size: 0.7rem;
    }
    }
  
.card {
    width: 100%;
    max-width: 450px; /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
  }
  
  
  @media (max-width: 768px) {
    .main-card-container {
      flex-direction: column;
    }
  }
  
  
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .card-description {
    font-size: 1rem;
  }